.DS_Store
.DS_Store/*
UserInterfaceState.xcuserstate
OfficeEMS.xcodeproj/xcuserdata/*
OfficeEMS.xcodeproj/project.xcworkspace/xcuserdata/*
*.xccheckout
Hangman.xcodeproj/xcuserdata/junchen.xcuserdatad/xcdebugger
